<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="container" style="margin-top: 62px;">
          <div class="row justify-content-center pt-4">
               <div class="col-md-auto col-sm-12">
                    <a href="https://discord.gg/PhcE6VY" target="_blank"><i class="fab fa-discord fa-8x"></i><br />DISCORD</a>
               </div>
               <div class="col-md-7 col-sm-12">
                    <p>
                         I always have discord open on the device im working on (It's a horrible addiction really..) but because of this the best way to contact would be to <a href="https://discord.gg/PhcE6VY" class="text-primary">join my Discord
                              server</a> and ping me or send me a DM.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row justify-content-center my-5">
               <div class="col-8 text-left">
                    <p class="text-center">
                         ...or you can send me a message using this form and I'll probably get back to you sooner or later
                    </p>
                    <form method="POST" action="/contact/submit_message" class="needs-validation" novalidate>
                         <div class="form-group">
                              <label for="exampleInputEmail1">Name</label>
                              <input type="text" class="form-control" id="" name="name" aria-describedby="" placeholder="Name" required>
                              <div class="valid-feedback">
                                   Looks good!
                              </div>
                              <div class="invalid-feedback">
                                   Please provide your name.
                              </div>
                         </div>
                         <div class="form-group">
                              <label for="exampleInputEmail1">Email</label>
                              <input type="email" class="form-control" id="" name="email" aria-describedby="" placeholder="Email" required>
                              <div class="valid-feedback">
                                   Looks good!
                              </div>
                              <div class="invalid-feedback">
                                   Please provide a return email.
                              </div>
                         </div>
                         <div class="form-group">
                              <label for="exampleInputEmail1">Subject</label>
                              <input type="text" class="form-control" id="" name="subject" aria-describedby="" placeholder="Subject" required>
                              <div class="valid-feedback">
                                   Looks good!
                              </div>
                              <div class="invalid-feedback">
                                   Please provide a subject.
                              </div>
                         </div>
                         <div class="form-group">
                              <label for="exampleFormControlTextarea1">Message</label>
                              <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="5" required></textarea>
                              <div class="valid-feedback">
                                   Looks good!
                              </div>
                              <div class="invalid-feedback">
                                   Please enter a message.
                              </div>
                         </div>
                         <div classs="mt-3">
                              <button class="btn btn-primary btn-block btn-lg" type="submit">Send</button>
                         </div>
                    </form>
               </div>
          </div>
     </div>

     <div class="testimonials-container section-container section-container-image-bg">
          <div class="container">
               <div class="row">
                    <div class="col testimonials section-description wow fadeIn"></div>
               </div>
               <div class="row">
                    <div class="col-md-10 offset-md-1 testimonial-list wow fadeInUp">

                         <div class="testimonial-text text-white">
                              <p>
                                   <div class="row">
                                        <div class="col-md-2 col-sm-4 py-3">
                                             <a href="https://github.com/coolbots7" target="_blank"><i class="fab fa-github fa-2x"></i><br />GITHUB</a>
                                        </div>
                                        <div class="col-md-2 col-sm-4 py-3">
                                             <a href="https://discord.gg/PhcE6VY" target="_blank"><i class="fab fa-discord fa-2x"></i><br />DISCORD</a>
                                        </div>
                                        <div class="col-md-2 col-sm-4 py-3">
                                             <a href="https://twitter.com/coolbots7" target="_blank"><i class="fab fa-twitter fa-2x"></i><br />TWITTER</a>
                                        </div>
                                        <div class="col-md-2 col-sm-4 py-3">
                                             <a href="https://www.twitch.tv/coolbots7" target="_blank"><i class="fab fa-twitch fa-2x"></i><br />TWITCH</a>
                                        </div>
                                        <div class="col-md-2 col-sm-4 py-3">
                                             <a href="https://www.instagram.com/coolbots7/" target="_blank"><i class="fab fa-instagram fa-2x"></i><br />INSTAGRAM</a>
                                        </div>
                                        <div class="col-md-2 col-sm-4 py-3">
                                             <a href="https://www.linkedin.com/in/brian-bugert" target="_blank"><i class="fab fa-linkedin fa-2x"></i><br />LINKEDIN</a>
                                        </div>
                                   </div>
                              </p>
                         </div>

                    </div>
               </div>
          </div>
     </div>


</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');


          $('.testimonials-container').backstretch("./images/background.jpg");

          $('a[data-toggle="tab"]').on('shown.bs.tab', function() {
               $('.testimonials-container').backstretch("resize");
          });
     });

     (function() {
          'use strict';
          window.addEventListener('load', function() {
               // Fetch all the forms we want to apply custom Bootstrap validation styles to
               var forms = document.getElementsByClassName('needs-validation');
               // Loop over them and prevent submission
               var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                         if (form.checkValidity() === false) {
                              event.preventDefault();
                              event.stopPropagation();
                         }
                         form.classList.add('was-validated');
                    }, false);
               });
          }, false);
     })();
</script>

</html>
