<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <!-- header -->
     <div class="top-content">
          <div class="container">

               <div class="row">
                    <div class="col-md-8 offset-md-2 text">
                         <h1 class="wow fadeInDownBig">COOLBOTS7.IO</h1>
                         <div class="description wow fadeInDownBig">
                              <h3 class="font-weight-lighter">Showcase of my personal projects</h3>
                         </div>
                         <div class="top-big-link wow fadeInLeftBig">
                         </div>
                    </div>
               </div>

          </div>
     </div>
     <!-- end header -->

     <!-- featured -->
     <div class="portfolio-container section-container my-4">
          <div class="container">
               <div class="row">
                    <div class="col portfolio section-description wow fadeIn">
                         <h2>Featured Projects</h2>
                         <div class="divider-1 wow fadeInUp"><span></span></div>
                         <h4 class="font-weight-lighter">Projects that I hate the least</h4>
                    </div>
               </div>
               <div class="row justify-content-center" id="projects">

               </div>
               <div class="row">
                    <div class="col section-bottom-button wow fadeInUp mb-5">
                         <a class="btn btn-primary btn-link-3" href="/projects">See More</a>
                    </div>
               </div>
          </div>
     </div>
     <!-- end featured -->

     <div class="testimonials-container section-container section-container-image-bg">
          <div class="container">
               <div class="row">
                    <div class="col testimonials section-description wow fadeIn"></div>
               </div>
               <div class="row">
                    <div class="col-md-10 offset-md-1 testimonial-list wow fadeInLeft">

                         <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                   <div class="testimonial-text text-white">
                                        <p>
                                             <div class="row">
                                                  <div class="col-md-2 col-sm-4 py-3">
                                                       <a href="https://github.com/coolbots7" target="_blank"><i class="fab fa-github fa-2x"></i><br />GITHUB</a>
                                                  </div>
                                                  <div class="col-md-2 col-sm-4 py-3">
                                                       <a href="https://discord.gg/PhcE6VY" target="_blank"><i class="fab fa-discord fa-2x"></i><br />DISCORD</a>
                                                  </div>
                                                  <div class="col-md-2 col-sm-4 py-3">
                                                       <a href="https://twitter.com/coolbots7" target="_blank"><i class="fab fa-twitter fa-2x"></i><br />TWITTER</a>
                                                  </div>
                                                  <div class="col-md-2 col-sm-4 py-3">
                                                       <a href="https://www.twitch.tv/coolbots7" target="_blank"><i class="fab fa-twitch fa-2x"></i><br />TWITCH</a>
                                                  </div>
                                                  <div class="col-md-2 col-sm-4 py-3">
                                                       <a href="https://www.instagram.com/coolbots7/" target="_blank"><i class="fab fa-instagram fa-2x"></i><br />INSTAGRAM</a>
                                                  </div>
                                                  <div class="col-md-2 col-sm-4 py-3">
                                                       <a href="https://www.linkedin.com/in/brian-bugert" target="_blank"><i class="fab fa-linkedin fa-2x"></i><br />LINKEDIN</a>
                                                  </div>
                                             </div>
                                        </p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <!-- interests -->
     <div class="services-container section-container my-4">
          <div class="container-fluid">
               <div class="row">
                    <div class="col services section-description">
                         <h2>Interests</h2>
                         <div class="divider-1"><span></span></div>
                    </div>
               </div>
               <div class="row justify-content-around">
                    <div class="col-md-4 col-sm-12 services-box wow fadeInUp">
                         <h3 class="text-center">Software&#160;Engineering</h3>
                         <div class="row justify-content-center">
                              <div class="col-6">
                                   <ul>
                                        <li>Full Stack Web Development</li>
                                        <li>Mobile Applications</li>
                                        <li>Automated Systems / Bots</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-12 services-box wow fadeInUp justify-content-center">
                         <h3 class="text-center">Electrical&#160;Engineering</h3>
                         <div class="row justify-content-center">
                              <div class="col-6">
                                   <ul>
                                        <li>PCB Design & Manufacturing</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-12 services-box wow fadeInUp justify-content-center">
                         <h3 class="text-center">Computer&#160;Engineering</h3>
                         <div class="row justify-content-center">
                              <div class="col-6">
                                   <ul>
                                        <li>Robotics</li>
                                        <li>Embeded Systems</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-12 services-box wow fadeInUp justify-content-center">
                         <h3 class="text-center">Mechanical&#160;Engineering</h3>
                         <div class="row justify-content-center">
                              <div class="col-6">
                                   <ul>
                                        <li>Robotics</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-12 services-box wow fadeInUp justify-content-center">
                         <h3 class="text-center">Infrastructure</h3>
                         <div class="row justify-content-center">
                              <div class="col-6">
                                   <ul>
                                        <li>Networking</li>
                                        <li>DevOps</li>
                                        <li>Applicaiton Hosting</li>
                                        <li>VMs / Clustering</li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- end interests -->
</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          // toggle "navbar-no-bg" class
          $('.top-content .text').waypoint(function() {
               $('nav').toggleClass('navbar-no-bg');
          });

          $('.top-content').backstretch("./images/background.jpg");
          $('.testimonials-container').backstretch("./images/background.jpg");

          $('#top-navbar-1').on('shown.bs.collapse', function() {
               $('.top-content').backstretch("resize");
          });
          $('#top-navbar-1').on('hidden.bs.collapse', function() {
               $('.top-content').backstretch("resize");
          });

          $('a[data-toggle="tab"]').on('shown.bs.tab', function() {
               $('.testimonials-container').backstretch("resize");
          });

          $(".testimonial-image img").attr("style", "width: auto !important; height: auto !important;");

     });

     $(document).ready(function() {
          $.getJSON("/api/projects", function(json) {
               var html = "";
               var projects = json["projects"].sort(function(proj1, proj2) {
                    return proj1.featured_order - proj2.featured_order;
               });
               for(var i=0;i<projects.length;i++) {
                    var project = projects[i];
                    if(project.featured == false || project.archived == true) {
                         continue;
                    }

                    html += `<div class="col-md-6 col-sm-12 portfolio-box wow fadeInUp">
                         <div class="portfolio-box-image">
                              <img src="`+ project["image_path"] + `" alt="">
                         </div>
                         <h3><a href="` + project["page_link"] + `">` + project["title"] + ` <i class="fas fa-angle-right"></i></a></h3>
                         <div class="portfolio-box-date"><i class="far fa-calendar"></i>Last Updated: ` + project["last_updated_date"] + `</div>
                         <div class="portfolio-box-date">`;

                         if(project["github_link"] != null) {
                              html += `<i class="fab fa-github fa-2x"></i>`;
                         }

                         if(project["gitlab_link"] != null) {
                              html += `<i class="fab fa-gitlab fa-2x"></i>`;
                         }

                         if(project["youtube_link"] != null) {
                              html += `<i class="fab fa-youtube fa-2x"></i>`;
                         }

                         html += `</div>
                         <p>` + project["description"] + `</p>
                    </div>`;

               }

               $("#projects").html(html);
          });
     });
</script>

</html>
