<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="container" style="margin-top: 62px;">

          <div class="row justify-content-center">
               <div class="col-auto">
                    <h1>Smart Mirror</h1>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col text-left">
                    <h3>About</h3>

                    <p>
                         A 24" two-way mirror and monitor inside a frame with a all-in-one small form factor computer mounted on the back. The mirror uses public APIs to pull and display time, weather, calendar, and todos.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col text-left">
                    <h3>Weather</h3>

                    <p>
                         Use the OpenWeatherMap REST API to pull temperature forecast, wind, humidity, sunrise, sunset, and cloud cover. Since an existing C# library for the OpenWeatherMap API did not exist I wrote a custom C# library.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col text-left">
                    <h3>Google Calendar</h3>

                    <p>
                         Use the Google Canendar REST API and accompanying C# library to pull my upcoming calendar appointments. The calendar appointments for the current day and next day are displayed in cards in the upper left of the mirror.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col text-left">
                    <h3>Google Tasks</h3>

                    <p>
Use the public Google Tasks API and accompanying library to pull upcoming tasks. The upcoming tasks are displayed in cards in the upper right corner of the mirror.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col text-left">
                    <h3>Todoist</h3>

                    <p>
                         Use the public Todoist API to pull the upcoming tasks for the next 5 days. The upcoming tasks are displayed in cards in the upper right corner or the mirror. Since an existing C# library to use the REST API I wrote a custom C# library.
                    </p>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col text-left">
                    <h3>Images</h3>

                    <!-- TODO Revisit image carousel -->
                    <div class="bd-example">
                         <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                   <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                   <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                   <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                   <div class="carousel-item active" data-interval="5000">
                                        <img src="../images/projects/smart_mirror/full.jpg" class="d-block">
                                   </div>
                                   <div class="carousel-item" data-interval="5000">
                                        <img src="../images/projects/smart_mirror/weather.jpg" class="d-block">
                                   </div>
                                   <div class="carousel-item" data-interval="5000">
                                        <img src="../images/projects/smart_mirror/calendar.jpg" class="d-block">
                                   </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                   <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                   <span class="sr-only">Next</span>
                              </a>
                         </div>
                    </div>

               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row mt-3">
               <div class="col text-left">
                    <h3>Planned Features</h3>

                    <ul>
                         <li>Handle multi-day calendar events</li>
                         <li>Google Reminders / Tasks</li>
                         <li>Bank Accounts</li>
                         <li>Stocks</li>
                         <li>Cryptocurrencies</li>
                         <li>Google Assistant</li>
                         <li>Google Play Music</li>
                    </ul>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row mt-3 pb-3 justify-content-center">
               <div class="card-group">
                    <div class="card" style="width: 18rem;">
                         <div class="card-body">
                              <a class="card-link" href="https://github.com/Coolbots7/SmartMirror" target="_blank">
                                   <i class="fab fa-github fa-3x"></i>
                              </a>
                              <h5 class="card-title">Get the source on GitHub</h5>
                         </div>
                    </div>
               </div>
          </div>

</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });
</script>

</html>
