<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="portfolio-container section-container my-4">
          <div class="container mt-5 pt-3">
               <div class="row">
                    <!-- TODO Filtering functionality -->
                    <!-- <div class="col-2 order-0">
                         <div class="row">
                              <ul class="nav flex-column text-left">
                                   <li class="nav-item">
                                        <a class="nav-link active" href="#">
                                             Software
                                        </a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link" href="#">
                                             Electronics
                                        </a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link" href="#">
                                             Networking
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div> -->
                    <div class="col order-1">
                         <!-- TODO Searching functionality -->
                         <!-- TODO sorting functionality -->
                         <!-- TODO grid / list view -->
                         <!-- <div class="row">
                              <div class="input-group my-3" style="width: 100%;">
                                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="button-addon2" placeholder="Search...">
                                   <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                                   </div>
                              </div>
                         </div>

                         <div class="row border-bottom border-secondary justify-content-between">
                              <div class="col-auto pb-2 pl-0 align-self-start">
                                   <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             Sort By
                                        </button>
                                        <div class="dropdown-menu">
                                             <a class="dropdown-item text-small" href="#">Last Updated Desc</a>
                                             <a class="dropdown-item" href="#">Last Updated Asc</a>
                                             <a class="dropdown-item" href="#">Most Popular Desc</a>
                                             <a class="dropdown-item" href="#">Most Popular Asc</a>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-auto pr-0 align-self-end">
                                   <a href="#"><i class="fas fa-th text-primary px-1"></i></a>
                                   <a href="#"><i class="fas fa-th-list px-1"></i></a>
                              </div>
                         </div> -->

                         <div class="d-flex flex-row row" id="projects">
                         </div>
                    </div>
               </div>
          </div>
     </div>
</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });

     $(document).ready(function() {
          $.getJSON("/api/projects", function(json) {
               var html = "";
               var projects = json["projects"];
               for (var i = 0; i < projects.length; i++) {
                    var project = projects[i];
                    if (project.archived == true) {
                         continue;
                    }

                    html += `<div class="col-md-6 col-sm-12 portfolio-box wow fadeInUp">
                         <div class="portfolio-box-image">
                              <img src="` + project["image_path"] +
                         `" alt="">
                         </div>
                         <h3><a href="` + project["page_link"] + `">` + project["title"] +
                         ` <i class="fas fa-angle-right"></i></a></h3>
                         <div class="portfolio-box-date"><i class="far fa-calendar"></i>Last Updated: ` + project["last_updated_date"] +
                         `</div>
                         <div class="portfolio-box-date">`;

                    if (project["github_link"] != null) {
                         html += `<i class="fab fa-github fa-2x"></i>`;
                    }

                    if(project["gitlab_link"] != null) {
                         html += `<i class="fab fa-gitlab fa-2x"></i>`;
                    }

                    if (project["youtube_link"] != null) {
                         html += `<i class="fab fa-youtube fa-2x"></i>`;
                    }

                    html += `</div>
                         <p>` + project["description"] + `</p>
                    </div>`;

               }

               $("#projects").html(html);
          });
     });
</script>

</html>
