<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="container" style="margin-top: 62px;">

          <div class="row justify-content-center">
               <div class="col-auto">
                    <h1>Homelab</h1>
               </div>
          </div>

          <div class="row mt-3 justify-content-center">
               <div class="col-3 offset-1">
                    <img src="../images/homelab/full_rack.jpg" class="featurette-image img-fluid mx-auto rounded" />
               </div>
               <div class="col-4 text-left">
                    <div class="row">
                         <div class="col">
                              <h5>Networking</h5>
                              <ul>
                                   <li>Router - Ubiquiti Unifi UGG-PRO-4</li>
                                   <li>Switch - Ubiquiti Unifi US-24</li>
                                   <li>AP - Ubiquiti Unifi UAP-AP-PRO</li>
                              </ul>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col">
                              <h5>Compute</h5>
                              <ul>
                                   <li>Dell R710</li>
                              </ul>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col">
                              <h5>Storage</h5>
                              <ul>
                                   <li>NAS 1 - Custom Build 8x4TB RAID-Z2</li>
                              </ul>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col-auto">
                              <h5>Services</h5>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col-auto text-left">
                              <ul>
                                   <li>VPN Server</li>
                                   <li>FreeNAS</li>
                                   <li>Media Management</li>
                                   <ul>
                                        <li>Plex Media Server</li>
                                        <li>Tautulli</li>
                                        <li>Sonarr</li>
                                        <li>Radarr</li>
                                        <li>Lidarr</li>
                                        <li>Jackett</li>
                                        <li>Transmission</li>
                                   </ul>
                                   <li>GitLab</li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>

          <hr class="featurette-divider mx-5">

          <div class="row">
               <div class="col">
                    <h3>Hardware</h3>
               </div>
          </div>

          <div class="card-columns">
               <div class="card">
                    <img src="../images/homelab/usg-pro-4.png" class="card-img-top">
                    <div class="card-body">
                         <h5 class="card-title">USG-PRO-4</h5>
                         <h6 class="card-subtitle mb-2 text-muted">Router</h6>
                    </div>
               </div>

               <div class="card">
                    <img src="../images/homelab/us-24.jpg" class="card-img-top">
                    <div class="card-body">
                         <h5 class="card-title">US-24</h5>
                         <h6 class="card-subtitle mb-2 text-muted">Switch</h6>
                    </div>
               </div>

               <div class="card">
                    <img src="../images/homelab/uac-ap-pro.jpeg" class="card-img-top">
                    <div class="card-body">
                         <h5 class="card-title">UAC-AP-PRO</h5>
                         <h6 class="card-subtitle mb-2 text-muted">Access Point</h6>
                    </div>
               </div>

               <div class="card">
                    <img src="../images/homelab/unifi-cloud-key.png" class="card-img-top">
                    <div class="card-body">
                         <h5 class="card-title">Unifi Cloud Key</h5>
                    </div>
               </div>

               <div class="card">
                    <img src="../images/homelab/r710.jpg" class="card-img-top">
                    <div class="card-body">
                         <h5 class="card-title">Dell R710</h5>
                         <h6 class="card-subtitle mb-2 text-muted">Bashful</h6>
                         <h6 class="card-subtitle mb-2 text-muted">Hypervisor</h6>

                         <ul class="list-group list-group-flush">
                              <li class="list-group-item">OS - VMWare</li>
                              <li class="list-group-item">CPU - </li>
                              <li class="list-group-item">RAM - </li>
                              <li class="list-group-item">Storage - 2x500GB RAID-1</li>
                         </ul>
                    </div>
               </div>

               <div class="card">
                    <img src="../images/homelab/chenbro.jpeg" class="card-img-top">
                    <div class="card-body">
                         <h5 class="card-title">Custom 2U</h5>
                         <h6 class="card-subtitle mb-2 text-muted">Dopey</h6>
                         <h6 class="card-subtitle mb-2 text-muted">NAS</h6>

                         <ul class="list-group list-group-flush">
                              <li class="list-group-item">OS - FreeNAS</li>
                              <li class="list-group-item">CPU - </li>
                              <li class="list-group-item">RAM - 8GB</li>
                              <li class="list-group-item">Storage - 8x4TB RAID-Z2</li>
                         </ul>
                    </div>
               </div>
          </div>

          <!-- TODO Homelab Netowrk Diagram -->
          <!-- <hr class="featurette-divider mx-5">

          <div class="row">
               <div class="col">
                    <h3>Network Diagram</h3>
               </div>
          </div> -->
     </div>


</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });
</script>

</html>
