<!DOCTYPE html>
<html lang="en">

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/menu %>

     <div class="container" style="margin-top: 62px;">

          <div class="row justify-content-center">
               <div class="col-auto">
                    <h1>Graduation Cap</h1>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
               <div class="col text-left">
                    <h3>About</h3>

                    <p>
                         I figured I should probably do something special to decorate my graduation cap but seeing as im not the artistic type i went with something a little more in my wheelhouse.
                         After searching online I did see that this had ben done before but the matrix did not cover the entire area.
                    </p>

                    <p>
                         My initial idea to cover the entire area was to use alternating strips of addressible LEDs but then I came across these individualy addressable 8x8 matrixes. It also worked out that 3 of them side by side would perfectly
                         cover the width of my graduation cap.
                    </p>
               </div>
          </div>

          <div class="row">
               <div class="col text-left">
                    <h3>Parts</h3>

                    <table class="table table-striped">
                         <thead>
                              <tr>
                                   <th>Part</th>
                                   <th>Unit Price</th>
                                   <th>Quantity</th>
                                   <th>Total</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <td>RPi Zero W</td>
                                   <td>$22</td>
                                   <td>1</td>
                                   <td>$22</td>
                              </tr>
                              <tr>
                                   <td>WS2812B 8x8 RGB Matrix</td>
                                   <td>$19</td>
                                   <td>9</td>
                                   <td>$171</td>
                              </tr>
                              <tr>
                                   <td>2S LiPo Battery</td>
                                   <td>$20</td>
                                   <td>1</td>
                                   <td>$20</td>
                              </tr>
                              <tr>
                                   <td class="border-top border-dark">Other Parts</td>
                                   <td class="border-top border-dark" colspan="3">Buck Converter, Switches, Connectors, Protoboard, Project Box, 3 Conductor Cable</td>
                              </tr>
                              <tr>
                                   <td colspan="3" class="text-left border-top border-dark">Project Total</td>
                                   <td class="border-top border-dark">~$230</td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>

          <div class="row">
               <div class="col text-left">
                    <h3>Wiring Diagram</h3>

                    <img class="featurette-image img-fluid mx-auto rounded" src="../images/projects/grad_cap/grad_cap_wiring_diagram.PNG" />
               </div>
          </div>

          <div class="row">
               <div class="col text-left">
                    <h3>Results</h3>

                    <!-- TODO Revisit image carousel -->
                    <div class="bd-example">
                         <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                   <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                   <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                   <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                   <div class="carousel-item active" data-interval="5000">
                                        <img src="../images/projects/grad_cap/grad_cap_1.jpg" class="d-block">
                                   </div>
                                   <div class="carousel-item" data-interval="5000">
                                        <img src="../images/projects/grad_cap/grad_cap_2.jpg" class="d-block">
                                   </div>
                                   <div class="carousel-item" data-interval="5000">
                                        <img src="../images/projects/grad_cap/csuf_fb.png" class="d-block">
                                   </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                   <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                   <span class="sr-only">Next</span>
                              </a>
                         </div>
                    </div>

               </div>
          </div>
          <script>

          </script>

          <div class="row mt-3">
               <div class="col text-left">
                    <h3>Notes / Improvements</h3>

                    <div>
                         <h5>Enclosure Cooling</h5>
                         <p>
                              While sitting at my graduation ceremony the project box containing the RPi and buck converter got warm and the buck converter itself was hot to the touch. Some form of active or passive cooling would be beneficial in a
                              future design.
                         </p>

                         <h5>Separate Power Sources</h5>
                         <p>
                              When connecting / disconnecting or turning the power to the matrix on and off the 5v from the buck converter would sag causing the RPi to hard reset. A separate power source for the RPi from the matrix would prevent
                              this.
                         </p>

                         <h5>Communication & Content</h5>
                         <p>
                              Since this project was time limited (I thought of it 2 weeks before graduation, on top of finals and capstone) I was unable to add additional content like scrolling text or more animations. I also wanted the ability to
                              connect to the cap from my phone to change the animation or text being displayed.
                         </p>
                    </div>
               </div>
          </div>

          <hr class="featurette-divider">

          <div class="row mt-3 pb-3 justify-content-center">
               <div class="card-group">
                    <div class="card" style="width: 18rem;">
                         <div class="card-body">
                              <a class="card-link" href="https://github.com/Coolbots7/GraduationCap" target="_blank">
                                   <i class="fab fa-github fa-3x"></i>
                              </a>
                              <h5 class="card-title">Get the source on GitHub</h5>
                         </div>
                    </div>
               </div>
          </div>

</body>
<% include partials/script %>
<script>
     jQuery(window).load(function() {
          $('nav').toggleClass('navbar-no-bg');
     });
</script>

</html>
